@import '../../content/scss/bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('../../content/images/login-bg.png');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
  color: white;
  font-family: adoble-clean-bold;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.login-form {
  background-color: $primary ;
}

.forgot-password {
  font-family: adoble-clean-light;
  color: $white;
  font-size: 1rem;
  text-underline-offset: 0.6rem;
  margin-bottom: 1px $white solid;
}
