<div id="workspace-form" class="p-xl-4 p-lg-3 p-md-2 p-sm-1 p-1 mt-3">
  <div>
    <div class="col-md-12">
      <form name="form" #workspaceForm="ngForm" role="form" (ngSubmit)="save()">
        <section>
          <div class="mb-3">
            <label class="form-label" for="name">Nom du workspace</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Nom"
              data-cy="name"
              [disabled]="isPreview"
              [(ngModel)]="workspaceToSave.name"
              #name
            />

            <div *ngIf="!workspaceToSave.name && !isPreview">
              <small
                class="form-text text-danger"
              >
                Votre nom de workspace est obligatoire.
              </small>
            </div>
          </div>
        </section>

        <section>
          <h3 *ngIf="!isPreview || (isPreview && workspaceToSave.configuration && workspaceToSave.configuration.length)">Configuration <span *ngIf="!isPreview" (click)="addConfiguration()" class="ms-icons plus size-2x cursor-pointer mb-1 mt-1"></span></h3>
          <div class="add-configurations-form">
            <ng-container *ngFor="let config of workspaceToSave.configuration; let i = index">
              <div class="row" [ngClass]="{ 'mt-1': i >= 1 }">
                <div class="col-5">
                  <input
                    type="text"
                    class="form-control"
                    [id]="'configuration-key-' + i"
                    [name]="'configuration-key-' + i"
                    placeholder="Clé"
                    [disabled]="isPreview"
                    [(ngModel)]="config.key"
                  />
                </div>
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control"
                    [id]="'configuration-value-' + i"
                    [name]="'configuration-value-' + i"
                    placeholder="Valeur"
                    [disabled]="isPreview"
                    [(ngModel)]="config.value"
                  />
                </div>
                <div class="col-1">
                  <i class="ms-icons minus size-2x cursor-pointer mt-2" (click)="deleteConfiguration(i)"></i>
                </div>
              </div>
            </ng-container>
          </div>
        </section>

        <section *ngIf="!isPreview">
          <div class="col-12 text-center mt-5">
            <button
              *ngIf="!workspaceToSave.id"
              type="submit"
              [disabled]="workspaceForm.form.invalid || isLoading"
              class="btn btn-primary"
              data-cy="submit"
            >
              Ajouter le workspace
            </button>
            <button
              *ngIf="workspaceToSave.id"
              type="submit"
              [disabled]="workspaceForm.form.invalid || isLoading"
              class="btn btn-primary"
              data-cy="submit"
            >
              Modifier le workspace
            </button>
          </div>
        </section>
      </form>
      <ms-alert class="mt-3"></ms-alert>
    </div>
  </div>
</div>
