<div id="workspace-form" class="p-xl-4 p-lg-3 p-md-2 p-sm-1 p-1 mt-3">
  <div>
    <div class="col-md-12">
      <form name="form" role="form" #userForm="ngForm" (ngSubmit)="save()">
        <div class="row mb-3">
          <div class="col-4">
            <label class="form-label" for="lastName">Nom</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              required
              name="lastName"
              placeholder="Nom"
              [disabled]="isPreview"
              [(ngModel)]="userToAdd.lastName"
              #lastName
            />
          </div>

          <div class="col-4">
            <label class="form-label" for="firstName">Prénom</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              required
              name="firstName"
              placeholder="Prénom"
              [disabled]="isPreview"
              [(ngModel)]="userToAdd.firstName"
              #firstName
            />
          </div>

          <div class="col-4">
            <label class="form-label" for="role">Gesmansys serveur</label>
            <select
              class="form-control select border-rad-0 border-none cursor-pointer"
              id="server"
              name="server"
              class="form-control"
              required
              [disabled]="isPreview"
              [(ngModel)]="userToAdd.gesmansysServer"
              #server
            >
              <option [ngValue]="null" disabled>Sélectionner un serveur Gesmansys</option>
              <option *ngFor="let server of servers" [value]="server.key">{{ server.value }}</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <label class="form-label" for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              required
              name="email"
              placeholder="Email"
              [disabled]="!isCreation() || isPreview"
              [(ngModel)]="userToAdd.email"
              #email
            />
          </div>

          <div class="col-4">
            <label class="form-label" for="phone">Téléphone</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              name="phone"
              placeholder="Téléphone"
              [disabled]="isPreview"
              [(ngModel)]="userToAdd.phone"
              #phone
            />
          </div>

          <div class="col-4">
            <label class="form-label" for="role">Rôle</label>
            <select
              class="form-control select border-rad-0 border-none cursor-pointer"
              id="role"
              name="role"
              class="form-control"
              required
              [disabled]="isPreview"
              [(ngModel)]="userToAdd.role"
              #roleSelect
            >
              <option [ngValue]="null" disabled>Sélectionner un role</option>
              <option *ngFor="let role of roles" [value]="role.key">{{ role.value }}</option>
            </select>
          </div>
        </div>

        <div class="col-12 text-center mt-5" *ngIf="!isPreview">
          <button
            type="submit"
            [disabled]="userForm.invalid || isLoading || !isEmailValid"
            class="btn btn-primary"
            data-cy="submit"
          >
            <span *ngIf="isCreation()">Ajouter l'utilisateur</span>
            <span *ngIf="!isCreation()">Modifier l'utilisateur</span>
            <div *ngIf="isLoading" class="spinner-grow text-light" style="width: 1rem; height: 1rem; margin-left: 20px" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
      <ms-alert-error></ms-alert-error>
      <ms-alert></ms-alert>
    </div>
  </div>
</div>
